// $fuentePrincipal : 'Montserrat', sans-serif;
$fuentePrincipal:'Manrope', sans-serif;
// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;
$verdeActivo: #008f39;
$redDesactivado: #ff0000;
$disabledColor: #cccccc;

$colorprincipal: rgb(255, 255, 255);
$backgroundprincipal: #007b56;
$colorcuota: #000;
$backgroundAccordion: $verde;
$backgroundModal: $blanco;
$colorUnBet: $blanco;
$backgroundMultiplied: $blanco;
$colorMultiplied: $negro;
$hoverBackgroundMultiplied: rgb(255, 115, 0);
$hoverColorMultiplied:  rgb(66, 2, 2);
$backgroundNavBar: rgb(255, 255, 255);

// Media Queries
$desktop: 1200px;
$desktopOrLaptop: 991.98px;
$tablet: 540.98px;
$telefono: 575.98px;
$telefono370: 200px;


// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Separaciones
$separacion: 5rem;



//variables of NavBar
$background-purple: #EEEEEE;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$blue: #F03861;

$open-sans: 'Open Sans', sans-serif;
