
// .Accordion{
//     .containerBet{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin-top: 2.5rem;
//         .multipliedBet{
//             margin-top: 1rem;
//         }
//     }
// }
.headboardContainerModalTitle{
    text-align: center;
    margin-top: 3rem;
}


/*
.BodyMACBets{
    // padding: 0 15rem;
    margin: 3rem;
    
    // grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    // grid-template-columns: repeat(2, 1fr);
    // gap: 2rem;
    // padding: 0 5rem;
    // @include tablet{
    //     grid-template-columns: repeat(auto-fill, minmax(26rem, 2fr));
    //     gap: 2rem;
    // }
    // @include telefono{
    //     grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    //     gap: 2rem;
    // }
    // @include telefono370px{
    //     grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    //     gap: 2rem;
    // }
}
.Accordion{
    .containerBet{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        .multipliedBet{
            margin-top: 1rem;
        }
    }
}
.headboardContainerModalTitle{
    text-align: center;
    margin-top: 3rem;
}
*/