.message_alert_cartilla_llena{
    display: flex;
    margin: 1rem;
    align-items: center; 
    border-radius: 3px; 
    justify-content: center;
    width: auto; 
    box-shadow: 1px 1px 3px 0px;
    color: rgb(100, 1, 1);
    background-color: #ff4040;
    text-align: center;
    padding: 1rem;
    cursor: default;
}