.ElementBarr_right_options_option_text{
    p{
        font-family: 'roboto', sans-serif;
        font-size: 1.6rem;
    }
}

.avatarPerfil{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    // margin-left: 1rem;
}
.nameAvatar{
    p{
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        margin-left: 0.5rem;
    }
}

.component-navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(32, 32, 32);
    border-bottom: rgb(82, 81, 81) solid 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    padding:.5rem 0;
    z-index: 10;
}
body{
    background-color: rgb(220, 219, 219);
}
.ElementBarr_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .ElementBarr_right_options{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: end;
        .ElementBarr_right_options_option:not(:last-child){
            // margin-right: 2rem;
            padding-right: 2rem;
            
        }
        .container-ElementBarr_right_options_option:hover{
            cursor: pointer;
            background-color: rgba(214, 214, 214, 0.534);
            border-radius: 0.5rem;
        }
        .container-ElementBarr_right_options_option{
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
        }
    }
}

.container-ElementBarr_right_options_option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    .icon-bell{
        width: 2.5rem;
        height: 2.5rem;
    }
    .icon-wallet{
        width: 2.5rem;
        height: 2.5rem;
    }
}
.ElementBarr_right_options_option{
    display: grid;
    justify-items: end;
}
// .ElementBarr_right_options_option_icon{
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
// }
.ElementBarr_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    align-items: center;
    .ElementBarr_left_logo{
        p{
            font-size: 2.5rem;
            font-weight: bold;
            color: #000;
        }
    }
}
.container-dropdown{
    width: 21rem;
    height: 100%;

    position: absolute;
    top: 5rem;
    display: block;
    animation: .5s animationDropdown linear;
}
.content-dropdown{
    // border: 1px solid rgba(0, 0, 0, 0.493);
    background-color: #fff;
    -webkit-box-shadow: -3px 4px 17px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -3px 4px 17px 0px rgba(0,0,0,0.3);
    box-shadow: -3px 4px 17px 0px rgba(0,0,0,0.3);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    position: absolute;
    top: .5rem;
    width: 120%;
    height: auto;
}
.purple{
    background-color:purple;
    
}
.content-dropdown-option{
    display: flex;
    justify-content: baseline;
    width: 100%;
    height: auto;
    .Option-Txt{
        padding: .6rem 2rem;
        font-family: 'Mingzat', sans-serif;
        font-size: 1.4rem;
        color: #000;
        font-weight: 300;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.027);
    }
}
@keyframes animationDropdown {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}
@keyframes animationCupon {
    to {height: 0%;}
    from {height: 100%;}
}
@keyframes AnimationAngleDown {
    to {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    from {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}
@keyframes sliderListFilter{
    to{
        
    }
}