
// .cartilla_apst{
//     border: 1px solid black;
//     th{
//     border: 1px solid black;

//     }
//     tr:nth-child(2n){
//         background: rgb(174, 174, 174);
//     }
//     thead{
//         background: black;
//         color: rgb(168, 142, 142);
//     }
// }


//TODO: Posibles errores con el responsive en el código de la cartilla
#lista-apuestas{
    th{
        border: 1px solid black;
        @include telefono{
            // background-color: red;
            font-size: 1rem;
        }
        @include telefono370px{
            font-size: 1px;
        }
    }
    th:nth-child(2n+1), th:nth-child(2n+2){
        padding: 0 1rem;
        @include telefono370px{
            padding: 0 0.5rem;
        }
    }
    font-family: 'Roboto', sans-serif;
    thead{
        background: black;
        color: rgb(168, 142, 142);
        @include telefono370px{
            background: rgb(168, 142, 142);
            color: black;
        }
    }
    tbody{
        tr:nth-child(2n){
            background: rgb(174, 174, 174);
        }
    }
}
.btn-close_cartilla{
    top: 110px;
}
.deleteRow{
    svg{
        background-color: rgb(189, 0, 0);
        padding: 3px;
        border-radius: 15px;
        color: white;
        cursor: pointer;
    }
}
.btn_reset{
    text-align: end;
    margin-bottom: 2px;
    span{
        color: rgb(34, 34, 34);
        cursor: pointer;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    span:hover{
        color: rgb(255, 0, 0);
    }
}
.swal2-html-container{
    text-align: center;
}
@keyframes EntradaDesliz {
from {top: 100%;}
to{top: 0%}
}
@keyframes SalidaDesliz {
    from {top: 0%;}
    to{top: 100%}
    }

